<!DOCTYPE html>
<html>

<head>
    <title>Movies4U • Home</title>
    <link rel = "stylesheet" href="../css/home.css">
    <link rel = "stylesheet" href="../css/navbar.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Cabin Sketch' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Give You Glory' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Movies4U</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="active-page" aria-current="page" href="/home">Home</a>
          </li>
          <% if (!user) { %>
            <li class="nav-item">
              <a class="nav-link" href="users/login">Login</a>
            </li>
        <%}  %>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/favourites">Favourites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dislikes">Dislikes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="recommendation-page" href="/recommendations">My recommendations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-page" href="/profile">My profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="users/logout">Logout</a>
            </li>
        <%} %>
  
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" id="inputSearch" placeholder="Search" aria-label="Search">
          <a onclick="showSearchedMovies()" href='#' id="search" class="btn btn-outline-success" > Search</a>
        </form>
      </div>
    </div>
  </nav>

    <div class="container-banner" id="id-container-banner">
        <h1 class="banner-title" id="banner">Here are the most popular movies right now!</h1>
        <% if (user) { %>
          <h3 class="banner-title" id="banner-2">Welcome, user <%= user %>! <a href="users/logout" class="logout-banner"> Logout!</a></h3>
          <h3 class="banner-title" id="banner-quote"></h3> 
      <%} %>
    </div>

    <div id="top10-container">
      <p id="top10-text">
        Check out our most liked movies right now!
        <button class="btn btn-outline-success"><a id="a-top10" href="/top10">Top 10</a></button>
      </p>
    </div>
        
    <div>
        <div id="main"></div>
    </div>
    
    <script src="../scripts/home.js"></script>
    <script>
      var quote = <%- JSON.stringify(quote) %>;
      showQuote(quote);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>



</html>

