<!DOCTYPE html>
<html>

<head>
    <title>Movies4U • My profile</title>
    <link rel = "stylesheet" href="../css/navbar.css">
    <link rel = "stylesheet" href="../css/profile.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Cabin Sketch' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Movies4U</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <% if (user) { %>
                <li class="nav-item">
                  <a class="nav-link" href="users/logout">Logout</a>
                </li>
            <%} else {%>
                <li class="nav-item">
                  <a class="nav-link" href="users/login">Login</a>
                </li>
            <% } %>
              <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
              </li>
              
            <li class="nav-item">
                  <a class="nav-link"  href="/favourites">Favourites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dislikes">Dislikes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="recommendation-page" href="/recommendations">My recommendations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="active-page" href="/profile">My profile</a>
            </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-banner" id="id-container-banner">
          <div class="row">
              <div class=" col-8" id="profile-title"> This is your profile, <span id="username"><%= user %> </span></div>
              <div class="col-4" id="container-logout"><a href="/users/logout" id="logout">Logout</a></div>
          </div>
    </div>

    <div class="row" id="container-fav-title">
        <div class="col" id="fav-title">
            <span>Favourites</span>
            <p id="fav-p">Here you have a preview of your most liked movies. To see more details about the movies, click on the 'See more' button below.</p>
        </div>
    </div>

    <div id="main"></div>

    <div class="row" id="container-fav-title">
        <div class="col" id="fav-title">
            <span>Dislikes</span>
            <p id="fav-p">Here you have a preview of your disliked movies. To see more details about the movies, click on the 'See more' button below.</p>
        </div>
    </div>

    <div id="main-2"></div>

    <div class="row" id="container-fav-title">
      <div class="col" id="fav-title">
          <span>Preffered Genres</span>
          <p id="fav-p">Here you have a statistic based on your liked movies' genres.</p>
      </div>
  </div>

  <div id="main-3">
    <canvas id="myChart" width="400", height="400"></canvas>
  </div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../scripts/profile.js"></script>
    <!-- <script src="path/to/chartjs/dist/chart.js"></script> -->
    <script>
        var data_fav = <%- JSON.stringify(data_f) %>;
        var data_dis = <%- JSON.stringify(data_d) %>
        getFavouriteMovies(data_fav);
        getDislikedMovies(data_dis);
        // getPreferredGenres(data_fav);
  </script>

</body>