<!DOCTYPE html>
<html>
    <head>
        <title>Movies4U • Details</title>
        <link rel = "stylesheet" href="../css/navbar.css">
        <link rel="stylesheet" href="../css/details.css">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Movies4U</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="users/logout">Logout</a>
            </li>
        <%} else {%>
            <li class="nav-item">
              <a class="nav-link" href="users/login">Login</a>
            </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="/users/register">Register</a>
        </li>
        
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link"  href="/favourites">Favourites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dislikes">Dislikes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="active-page" href="/recommendations">My recommendations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-page" href="/profile">My profile</a>
            </li>
        <%} %>
          
      
        </ul>
      </div>
    </div>
  </nav>

  <div id="container_back_button"></div>

  <div id="det"></div>

  <div class="content">
    <p id="content-close">X</p>
  </div>

  <div class="comments-container">
    <div class="comments-title"></div>
    <div id="comments">
      <% if (user) { %>
        <div id="comment-box" class="row">
          <textarea class="col" id="comment-text" rows="3" cols="100" placeholder="Leave a comment here..."></textarea>
           <button  class="btn btn-outline-success col col-2" onclick="addComment()">Post</button>
           <div class="alert alert-danger empty" style="display: none;">The comment should not be empty!</div>
       </div>
        <%} %>
        <div id="comments-text-container"></div>
    </div>
  </div>


</body>

    <script src="../scripts/recommendations.js"></script>
    <script>
      var user = <%- JSON.stringify(user) %>;
        getRecMovieDetails();
        getComments();
        getCountComments();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



</html>