#back_button{
    position: absolute;
    top: 7%;
    left: 3%;
    transform: translateX(-50%);
    border: none;
    background: transparent;
    padding: 10px;
}

#back_button a{
    text-decoration: none;
    color: black;
}

#back_button i{
    font-size: 50px;
}

#back_button i:hover{
    color: rgb(218, 49, 19);
}

#like-btn, #dislike-btn{
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}

.like-btn:hover{
    color: rgb(14, 168, 8) !important;
}

.dislike-btn:hover{
    color: rgb(230, 11, 11) !important;
}
