#remove-btn{
    color: white;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}

#remove-btn .text{
    display:none;
    font-size: 15px;
}

#remove-btn:hover{
    color:rgb(163, 6, 6);
}

#remove-btn:hover .text{
    display: block;
    color: white;
}