body{

    background: rgba(0, 0, 0, 0.8) !important;
}

.container-banner{
    padding: 10px;
    margin-top: 4rem;
}

.banner-title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Cabin Sketch';
    
}

#banner-2{
    color:rgb(201, 60, 35);
}

#active-page{
    color: rgb(201, 60, 35) !important;
}

.card{
    background: rgba(0, 0, 0, 0.7) !important;
}

.list-group-item{
    color:white;
    font-size: 20px;
} 

.logout-banner{
    color: rgb(0, 0, 0);
    text-decoration: none;

}
.logout-banner:hover{
    color:rgb(26, 153, 22);
}