body{
    margin: 0;
    padding: 0;
}
.slideshow {
    position: fixed;
    list-style-type: none;
    z-index: -100; 
  }
  
.slideshow, .slideshow:after { 
 
   position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: -100; 
  }
    
.slideshow li span { 
    position: absolute;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -100; 
    animation: imageAnimation 30s linear infinite 0s; 
  }
    
.slideshow li:nth-child(1) span { 
  background-image: url(../images/jakob-owens-CiUR8zISX60-unsplash.jpg);    
}

.slideshow li:nth-child(2) span { 
  background-image: url(../images/denise-jans-tV80374iytg-unsplash.jpg);
  animation-delay: 6s; 
}

.slideshow li:nth-child(3) span { 
  background-image: url(../images/alex-litvin-MAYsdoYpGuk-unsplash.jpg);  
  animation-delay: 12s; 
}

.slideshow li:nth-child(4) span { 
  background-image: url(../images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);  
  animation-delay: 18s; 
}

.slideshow li:nth-child(5) span { 
  background-image: url(../images/gr-stocks-q8P8YoR6erg-unsplash.jpg);
  animation-delay: 24s; 
}
    
@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
    
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

.home .container_c {
  min-height: 100vh;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
} 

a{
    z-index: 100;
}

.container_welcome{
    position: absolute;
    top: 20%;
    left: 50%;
    bottom: 20%;
    width: 70%;
    transform: translateX(-50%);
    border: none;
    background: rgba(0,0,0,0.7);
    padding-top: 5%;
    padding-bottom: 20%;
    padding-right: 10%;
    padding-left: 10%;
    justify-content: center;
    
}

.container-get-started{
  justify-content: center;
  text-align: center;
}

#get_started_button {
    border: none;
    background: transparent;
    
    
}

#get_started_button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
    font-style: italic;
    font-family: 'Delius Unicase';
    text-shadow: rgb(221, 46, 40) 1px 1px 13px;
}

#get_started_button a:hover{
    color: rgb(148, 21, 17);
    text-shadow: white 1px 1px 5px;
}



.welcome{
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: 'Cabin Sketch';
   
}

.btns-container{
  position: relative;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 3%; 
}

.col{
  margin: 2% !important;
  padding: 1px;
  top: 75%;
  border: none;
  background: rgba(228, 32, 26, 0.6);
  justify-content: center;

}

.col:hover{
    background-color:rgb(94, 13, 13);
}

.col a:hover{
  text-shadow: 5px 5px black;
}

.text{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.text:hover{
    color: white;
}

