#active-page{
    color: rgb(201, 60, 35) !important;
}

.navbar{
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
    border: 2px solid #bb1913;
    z-index: 20;
}
body{

    background: rgba(0, 0, 0, 0.8) !important;
}

#profile-page{
    color: rgb(236, 229, 172);
}

#profile-page:hover{
    color: rgb(241, 218, 4);
}

#recommendation-page{
    color: rgb(141, 224, 176);
}

#recommendation-page:hover{
    color: rgb(7, 185, 81);
}