.banner-title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Cabin Sketch';
    
}

#banner-2{
    color:rgb(201, 60, 35);
}

#active-page{
    color: rgb(201, 60, 35) !important;
}

.container-banner{
    padding: 10px;
    margin-top: 4rem;
}

.card{
    background: rgba(0, 0, 0, 0.7) !important;
}

.container-info{
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
    background: rgba(0, 0, 0, 0.7);
    padding: 2%;
}

.info-text{
    color: white;
    font-size: 20px;
}